:root {
    --theme-color: #0163d2;
  }
  
  .theme-color2 {
    --theme-color: #e22454;
  }
  
  .theme-color3 {
    --theme-color: #7520dd;
  }
  
  .theme-color4 {
    --theme-color: #e87316;
  }
  
  .theme-color5 {
    --theme-color: #df4246;
  }
  
  .theme-color6 {
    --theme-color: #51983c;
  }
  
  .text-color {
    color: #6d6d6d;
  }